.board {
    background-color: #5BC649;
    border: 3px solid #2A9617;
    width: 230px;
    padding: 6px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;

    .pins {
         display: grid;
        grid-template-columns: repeat(2, auto);
        list-style: none;
        padding: 0;
        margin: 0;
        counter-reset: item;
        color: white;
    
        .position {
            counter-increment: item;
            position: relative;
            display: flex;
            gap: 24px;
            text-wrap: nowrap;
    
            .label {
                display: flex;
                flex-direction: inherit;
                gap: 8px;
    
                .gpioLabel {
                    width: 50px;
                    font-size: .8em;
                    font-weight: bold;
                    line-height: 20px;
                }
    
                .reservedFor {
                    font-size: .5em;
                    line-height: 20px;
                }
            }
    
            .marker {
                position: relative;
                background-color: #262626;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                &::before,
                &::after {
                    color: #262626;
                    font-size: .3em;
                    font-weight: bold;
                }
    
                svg circle {
                    fill: steelblue
                }
    
                &.other {
                    svg circle {
                        fill: gray;
                    }
                }
    
                &.reserved {
                    svg circle {
                        fill: darkgray;
                    }
                }
            }
    
            &:nth-child(odd) {
                flex-direction: row-reverse;
    
                .marker::before {
                    content: counter(item);
                    position: absolute;
                    left: -18px;
                    width: 16px;
                    text-align: right;
                }
            }
    
            &:nth-child(even) {
                .marker::after {
                    content: counter(item);
                    position: absolute;
                    right: -18px;
                    width: 16px;
                }
            }
        }
    }
}
